* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.sub-nav-style, .header .container .s-right .s-list .s-nav-but .s-sub5, .header .container .s-right .s-list .s-nav-but .s-sub4, .header .container .s-right .s-list .s-nav-but .s-sub3, .header .container .s-right .s-list .s-nav-but .s-sub2 {
  background-color: #fff;
  visibility: hidden;
  width: 220px;
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-10%);
  margin: 0 5px;
}
.sub-nav-style p, .header .container .s-right .s-list .s-nav-but .s-sub5 p, .header .container .s-right .s-list .s-nav-but .s-sub4 p, .header .container .s-right .s-list .s-nav-but .s-sub3 p, .header .container .s-right .s-list .s-nav-but .s-sub2 p {
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  position: relative;
}
.sub-nav-style p::after, .header .container .s-right .s-list .s-nav-but .s-sub5 p::after, .header .container .s-right .s-list .s-nav-but .s-sub4 p::after, .header .container .s-right .s-list .s-nav-but .s-sub3 p::after, .header .container .s-right .s-list .s-nav-but .s-sub2 p::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #d4d1d1;
  bottom: -10px;
  left: 0;
}
.sub-nav-style p:hover, .header .container .s-right .s-list .s-nav-but .s-sub5 p:hover, .header .container .s-right .s-list .s-nav-but .s-sub4 p:hover, .header .container .s-right .s-list .s-nav-but .s-sub3 p:hover, .header .container .s-right .s-list .s-nav-but .s-sub2 p:hover {
  color: #b61984;
}

.sub-nav3-style, .header .container .s-right .s-list .s-nav-but .s-sub6, .header .container .s-right .s-list .s-nav-but .s-sub1 {
  background-color: #fff;
  visibility: hidden;
  width: 780px;
  position: absolute;
  top: 80px;
  left: 0;
  transform: translateX(-50%);
}
.sub-nav3-style div, .header .container .s-right .s-list .s-nav-but .s-sub6 div, .header .container .s-right .s-list .s-nav-but .s-sub1 div {
  margin: 0 5px;
}
.sub-nav3-style div p, .header .container .s-right .s-list .s-nav-but .s-sub6 div p, .header .container .s-right .s-list .s-nav-but .s-sub1 div p {
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  position: relative;
}
.sub-nav3-style div p::after, .header .container .s-right .s-list .s-nav-but .s-sub6 div p::after, .header .container .s-right .s-list .s-nav-but .s-sub1 div p::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #d4d1d1;
  bottom: -10px;
  left: 0;
}
.sub-nav3-style div p:hover, .header .container .s-right .s-list .s-nav-but .s-sub6 div p:hover, .header .container .s-right .s-list .s-nav-but .s-sub1 div p:hover {
  color: #b61984;
}
.sub-nav3-style div p:first-child, .header .container .s-right .s-list .s-nav-but .s-sub6 div p:first-child, .header .container .s-right .s-list .s-nav-but .s-sub1 div p:first-child {
  font-size: 13px;
  font-weight: 500;
  position: relative;
}
.sub-nav3-style div p:first-child::after, .header .container .s-right .s-list .s-nav-but .s-sub6 div p:first-child::after, .header .container .s-right .s-list .s-nav-but .s-sub1 div p:first-child::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #b61984;
  bottom: -10px;
  left: 0;
}

.input-style, .course .container .flex .right .english, .course .container .flex .right .flex-1 .email, .course .container .flex .right .flex-1 .name {
  padding-right: 15px;
  padding-bottom: 15px;
  position: relative;
}
.input-style > i, .course .container .flex .right .english > i, .course .container .flex .right .flex-1 .email > i, .course .container .flex .right .flex-1 .name > i {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-90%);
  color: #b61984;
}
.input-style > input, .course .container .flex .right .english > input, .course .container .flex .right .flex-1 .email > input, .course .container .flex .right .flex-1 .name > input {
  border-radius: 20px;
  width: 100%;
  padding: 15px 15px 15px 30px;
  border: solid 1px gray;
}

.header {
  height: 80px;
  width: 100%;
}
.header .container .s-left .s-toggle {
  font-size: 20px;
}
@media screen and (min-width: 1200px) {
  .header .container .s-left img {
    height: 80px;
  }
}
@media screen and (max-width: 1200px) {
  .header .container .s-left img {
    height: 48px;
  }
}
.header .container .s-right .s-list .s-nav-but {
  height: 80px;
  list-style-type: none;
  position: relative;
}
.header .container .s-right .s-list .s-nav-but a {
  line-height: 80px;
  text-decoration: none;
  color: #000;
  font-size: 13px;
  font-weight: 500;
}
.header .container .s-right .s-list .s-nav-but::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #b61984;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  transform: scale(0);
  transition: all 0.3s;
}
.header .container .s-right .s-list .s-nav-but:hover::after {
  transform: scale(1);
  transition: all 0.3s;
}
.header .container .s-right .s-list .s-item1:hover .s-sub1, .header .container .s-right .s-list .s-sub1:hover {
  visibility: visible;
}
.header .container .s-right .s-list .s-item2:hover .s-sub2, .header .container .s-right .s-list .s-sub1:hover {
  visibility: visible;
}
.header .container .s-right .s-list .s-item3:hover .s-sub3 {
  visibility: visible;
}
.header .container .s-right .s-list .s-item4:hover .s-sub4 {
  visibility: visible;
}
.header .container .s-right .s-list .s-item5:hover .s-sub5 {
  visibility: visible;
}
.header .container .s-right .s-list .s-item6:hover .s-sub6 {
  visibility: visible;
}
.header .container .s-right button {
  position: relative;
  font-size: 13px;
  color: #fff;
  border: solid 1px #b61984;
  height: 45px;
  padding: 12px 20px;
  border-radius: 25px;
  border: solid 1px #b61984;
  background-color: #b61984;
}
.header .container .s-right button .fa-phone {
  margin-right: 8px;
}
.header .container .s-right button p {
  position: relative;
  z-index: 2;
}
.header .container .s-right button::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 25px;
  transform: scale(0);
  transition: all 0.2s;
}
.header .container .s-right button:hover::after {
  transform: scale(1);
  transition: all 0.2s;
}
.header .container .s-right button:hover {
  color: #000;
  transition: all 0.2s;
}
.header .container .s-right .s-icon {
  cursor: pointer;
}
.header .container .s-right .s-icon .fab:hover {
  color: #b61984;
}

.about {
  height: 700px;
  padding: 60px 0px;
  background: url(../asset/img/yellow_top_wave_01.png), url(../asset/img/Violet_top_left_wave.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 992px) {
  .about .container div:first-child {
    margin-top: 20px;
  }
}
.about .container div:first-child h1 {
  font-size: 16px;
  color: #b61984;
}
.about .container div:first-child h2 {
  font-size: 57px;
  line-height: 60px;
  font-weight: 700;
}
.about .container div:last-child img {
  width: 580px;
}

.people {
  background-color: #dcd1f0;
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}
.people .container .row .col-6 {
  padding: 0 30px;
  margin-bottom: 50px;
}
.people .container .row .col-6 .card {
  position: relative;
  z-index: 2;
  border-radius: 10px;
}
.people .container .row .col-6 .card .img {
  overflow: hidden;
}
.people .container .row .col-6 .card .img img {
  max-width: 100%;
  border-radius: 10px 10px 0 0;
  position: relative;
  transition: all 1s;
}
.people .container .row .col-6 .card .content p:first-child {
  font-size: 11px;
  color: #b61984;
  margin-top: 20px;
  margin-bottom: 8px;
  font-weight: 500;
}
.people .container .row .col-6 .card .content h2 {
  font-size: 23px;
  font-weight: 700;
  margin-bottom: 15px;
}
.people .container .row .col-6 .card .content p:last-child {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 15px;
}
.people .container .row .col-6:hover img {
  border-radius: 10px 10px 0 0;
  transform: scale(1.1);
  transition: all 1s;
}
.people .container .row .col-6:hover .card {
  box-shadow: 0px 0px 5px 5px #C5C5C5;
}
.people .people-background {
  height: 400px;
  width: 100%;
  background-image: url(../asset/img/Wave_White_bottom_right_shape_01.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  bottom: 0%;
  left: 0%;
}

.course {
  padding-top: 60px;
}
.course .container .flex {
  flex-wrap: wrap;
}
@media screen and (min-width: 992px) {
  .course .container .flex .left {
    width: 50%;
  }
}
@media screen and (max-width: 992px) {
  .course .container .flex .left {
    width: 100%;
  }
}
.course .container .flex .left img {
  max-width: 100%;
  height: auto;
  position: relative;
  z-index: 2;
}
.course .container .flex .right {
  position: relative;
  z-index: 2;
  -webkit-box-shadow: 0px 0px 5px 3px #C5C5C5;
  box-shadow: 0px 0px 5px 3px #C5C5C5;
  padding: 0 25px;
  border-radius: 10px;
  background-color: #fff;
}
@media screen and (min-width: 992px) {
  .course .container .flex .right {
    width: 35%;
  }
}
@media screen and (max-width: 992px) {
  .course .container .flex .right {
    margin-top: 50px;
    width: 100%;
  }
}
.course .container .flex .right h1 {
  font-size: 38px;
  font-weight: 700;
  padding: 50px 0px;
  text-align: center;
}
.course .container .flex .right .message {
  padding-right: 15px;
  padding-bottom: 15px;
  position: relative;
}
.course .container .flex .right .message .fa-sms {
  position: absolute;
  top: 20%;
  left: 10px;
  transform: translateY(-90%);
  color: #b61984;
}
.course .container .flex .right .message .input-sms {
  padding-left: 30px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
  border-radius: 30px;
  font-size: 13px;
}
.course .container .flex .right button {
  position: relative;
  margin-top: 30px;
  margin-bottom: 50px;
  width: 150px;
  height: 48px;
  align-items: center;
  border-radius: 30px;
  background-color: #b61984;
  color: #fff;
  border: solid 1px transparent;
}
.course .container .flex .right button::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 30px;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s;
  transform: scale(0);
}
.course .container .flex .right button:hover::after {
  transform: scale(1);
  transition: all 0.2s;
}
.course .container .flex .right button:hover span {
  color: #b61984;
}
.course .container .flex .right button span {
  position: relative;
  z-index: 2;
}
.course .course-background {
  width: 100%;
  height: 400px;
  background-image: url(../asset/img/accent_bottom_wave_01.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 0%;
}

.footer {
  margin-top: 50px;
  padding: 100px;
  background-color: #aa017e;
  color: #fff;
}
.footer .container {
  position: relative;
  z-index: 2;
}
.footer .container .row .item1 p:first-child {
  font-size: 23px;
  font-weight: 700;
}
.footer .container .row .item1 p:nth-child(2) {
  font-size: 13px;
}
.footer .container .row .item1 p:nth-child(2) i {
  font-size: 13px;
  padding-right: 10px;
}
.footer .container .row .item1 p:nth-child(3) {
  font-size: 13px;
}
.footer .container .row .item1 p:nth-child(3) i {
  font-size: 13px;
  padding-right: 10px;
}
.footer .container .row .item1 p:nth-child(4) {
  font-size: 13px;
}
.footer .container .row .item1 p:nth-child(4) i {
  font-size: 13px;
  padding-right: 10px;
}
.footer .container .row .item1 div .fab {
  font-size: 13px;
  padding-right: 10px;
}
.footer .container .row .item1 div .fab:hover {
  color: #000;
}
.footer .container .row .item p {
  cursor: pointer;
  font-size: 13px;
}
.footer .container .row .item p:hover {
  color: #b61984;
}
.footer .container .row .item p:first-child {
  cursor: auto;
  font-size: 23px;
  font-weight: 700;
}
.footer .container .row .item p:first-child:hover {
  color: #fff;
}
.footer .container .row .item2 p {
  font-size: 23px;
  font-weight: 700;
}
.footer .container .row .item2 input {
  width: 80%;
  margin-top: 40px;
  padding: 15px;
  text-align: center;
  border-radius: 30px;
  font-size: 13px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  background-color: #aa017e;
}
.footer .container .row .item2 input::placeholder {
  color: #fff;
  opacity: 1; /* Firefox */
}
.footer .container .row .item2 input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fff;
}
.footer .container .row .item2 input::-ms-input-placeholder { /* Microsoft Edge */
  color: #fff;
}
.footer .container .row .item2 button {
  position: relative;
  width: 80%;
  margin-top: 5px;
  padding: 15px;
  text-align: center;
  border-radius: 30px;
  border: solid 1px transparent;
  transition: all 0.2s;
}
.footer .container .row .item2 button::after {
  width: 100%;
  height: 100%;
  content: "";
  background-color: #aa017e;
  border-radius: 30px;
  position: absolute;
  top: 0px;
  left: 0px;
  transform: scale(0);
}
.footer .container .row .item2 button:hover::after {
  transform: scale(1);
  transition: all 0.2s;
}
.footer .container .row .item2 button:hover p {
  color: #fff;
  transition: all 0.2s;
}
.footer .container .row .item2 button span {
  position: relative;
  font-size: 13px;
  color: #000;
  font-weight: 500;
  z-index: 2;
}
.footer .footer-background {
  height: 400px;
  width: 100%;
  background-image: url(../asset/img/footer_background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: -25%;
  left: 0%;
  z-index: 1;
}